<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<!--

  Basic WiX Template from here:
  https://www.youtube.com/watch?v=6Yf-eDsRrnM
  https://github.com/angelsix/youtube/tree/develop/C%23%20General/Windows%20Installer%20Wix%20DotNet%20Core

-->
  
  <!-- Give product a unique ID per platform -->
  <?if $(var.Platform)=x64 ?>
    <!-- TODO: Change with every release -->
    <?define ProductCode = "DA3D57ED-9DF3-42D5-BD53-FF1304076DD2" ?>
  <?else?>
    <!-- TODO: Change with every release -->
    <?define ProductCode = "E4E92CA8-D723-4BBF-B8BB-AF771B8D8A9F" ?>
  <?endif?>

  <!-- Fixed upgrade Id -->
  <!--- Constant. Unique for every product. Do not change for each release. -->
  <?define UpgradeCode = "4457C767-112C-4129-8EC0-FCEFCE4EEBE9" ?>

  <!-- Define main product -->
	<Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName_$(var.Platform)_$(var.Configuration))"
           Language="!(loc.Language)" 
           Version="$(var.BuildVersion)"
           Manufacturer="!(loc.Company)" 
           UpgradeCode="$(var.UpgradeCode)">
    
        <!-- Provide package details -->
		<Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)"
        />

        <!-- Downgrade error message -->
	    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    
        <!-- Include .cab file into .msi file -->
        <MediaTemplate
          EmbedCab="yes"
        />

        <!-- Define main app icon -->
        <Icon Id="icon.ico" SourceFile="$(var.Net5.Win.ProjectDir)\Assets\app.ico" />

        <!-- Use the icon.ico icon for this installer (shows up in Add/Remove programs) -->
        <Property Id="ARPPRODUCTICON">icon.ico</Property>
        <!-- Help/Support website (shows in the Add/Remove programs) -->
        <Property Id="ARPURLINFOABOUT">http://www.isi85.com</Property>

        <!-- Create a basic UI for the installer -->
        <!--<UIRef Id="WixUI_Minimal" />-->
        <UI Id="UserInterface">
          <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
          <Property Id="WixUI_Mode" Value="Custom" />

          <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
          <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
          <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

          <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

          <DialogRef Id="ProgressDlg" />
          <DialogRef Id="ErrorDlg" />
          <DialogRef Id="FilesInUse" />
          <DialogRef Id="FatalError" />
          <DialogRef Id="UserExit" />

          <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
          <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

        </UI>
        <UIRef Id="WixUI_Common" />
      
        <!-- Change the installer UI background images -->
        <!--<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf" />-->
        <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp" />
        <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp" />

        <!-- Define components, shortcuts, files etc... for installer -->
		<Feature Id="ProductFeature" Title="Net5 Windows App Template" Level="1">

          <ComponentGroupRef Id="ProductComponents" />
          <ComponentGroupRef Id="PublishedComponents" />
      
    	</Feature>
	</Product>
</Wix>
